<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fire.faker.tes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ApplicationImpl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Map14"
        android:usesCleartextTraffic="true">
        <activity
            android:exported="false"
            android:name=".SearchResultPage" />
        <activity
            android:exported="false"
            android:name=".SearchPage" />
        <activity
            android:exported="true"
            android:name=".LoadingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NetPage1" />
        <activity android:name=".NetPage2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvuy-XAJytqREan8GI331P5LasC_OBdOU" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>